[Unit]
Description=Simpleton notification handler
After=display-manager.service

[Service]
ExecStart=/home/%u/.cargo/bin/over-here
Environment=DISPLAY=:0
Restart=Always
RestartSec=5

[Install]
WantedBy=graphical.target
